/*
font-family: 'Permanent Marker', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
*/
body{
  margin: 0;
  text-align: center;
  font-size: 14px;
}

hr{
  border-color: grey;
  border-style: dotted none none;
  border-width: 6px;
  margin: 100px auto;
  width: 8%;

}

p{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  color: #40514E;
}
h1{
  color: #66BFBF;
  font-size: 562.5%;
  font-family:'Permanent Marker', cursive;
  display: inline-block;
  position: relative;
  padding-top: 100px;
  margin: 0 auto 0 auto;

}
h2{
  color: #66BFBF;
font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  display: inline-block;
  font-size: 3em;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
a{
  color: #11999E;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

table{
  text-align: center;
}
/*==============================================================================Classes Section===========================================================================================*/
.TopContainer{
    background-color: #E4F9F5;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.backgr{
  position: relative;
}

.profile{
  text-align: center;
  width: 50%;
  margin: 40px auto;

}

.intro{
  width: 75%;
  margin: auto;
}

.skill-website{
  float: left;
  margin-right: 40px;
  width: 25%
}

.skill-web-cross{
  float: right;
  margin-left: 40px;
  width: 25%
}

.profile-pic{
  border-radius: 50%;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-msg{
  width: 50%;
  margin: 40px auto 60px;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
